# Git configuration
# Managed by chezmoi - uses template for user data

[user]
    name = {{ .name }}
    email = {{ .email }}

# Inter-IKEA Digital projects
[includeIf "gitdir:~/code/Inter-IKEA-Digital/"]
    path = ~/.config/git/config-inter-ikea

[init]
    defaultBranch = main

[core]
    editor = vim
    pager = delta
    excludesfile = ~/.config/git/ignore

[pull]
    rebase = true

[push]
    default = current
    autoSetupRemote = true

[fetch]
    prune = true

[diff]
    colorMoved = default

[merge]
    conflictstyle = diff3

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    line-numbers = true
    side-by-side = false
    syntax-theme = Dracula

[alias]
    co = checkout
    br = branch
    ci = commit
    st = status
    unstage = reset HEAD --
    last = log -1 HEAD

[credential]
{{- if eq .chezmoi.os "darwin" }}
    helper = osxkeychain
{{- else if eq .chezmoi.os "linux" }}
    helper = store
{{- end }}

[help]
    autocorrect = 1

[color]
    ui = auto
